# Student Performance Indicator

## Life cycle of Machine Learning Project

* Understanding the problem statements
* Data collection
* Data checks to perform
* Exploratory data analysis
* Data pre-processing
* Model Training
* Choose best model

## 1. Problem Statement
* This project understands hoe the student's performance (test score) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

## 2. Data Collection
* Dataset Sources https://www.kaggle.com/datasets/spscientist/students-performance-in-exams
* The data consists of 8 column and 1000 rows

### 2.1 Import Data and Required Packages

Importing Pandas, Numpy, Matplotlib, Seaborn, and Warnings Library.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("Data/Students_details.csv")
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df.shape

(1000, 8)


### 2.2 Dataset information

* Gender: sex of students (male/female)
* Race/ethnicity: ethnicity of students -> (Group - A,B,C,D,E)
* Parental level of education
* lunch
* Test preparation course
* Math score
* Reading score
* Writing score

## 3. Data checks to perform

* Check missing values
* Check duplicates
* Check data types
* Check the number of unique values of each column
* Check statitics of data set
* check various categories present in the different categorical column

### 3.1 Check any missing values

In [6]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

#### There is no missing values

### 3.2 Checking duplicates

In [8]:
df.duplicated().sum()

0

#### There is no duplicate values